{% extends 'inventory/base.html' %}

{% load static %}

{% block body %}

<h1 class="h3 mb-2 text-gray-800"> Products Details </h1>
          <p class="mb-4">View the details of all available products  </p>
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Product Table</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Weight</th>
                      <th>Cost per Kg</th>
                      <th>Wages per kg</th>
                      <th>Modify</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tbody align="center">
                    
            <ul>
						{% for p in pro %}
						<tr>
              
                <td>{{ p.id     }} </td>
						    <td>{{ p.name   }} </td> 
						    <td>{{ p.weight }} </td>
						    <td>{{ p.cost   }} </td>
                <td>{{ p.wages  }} </td>
                
                <!-- Update -->
                <td>
                    <a href="{% url 'inventory:edit_product' p.id %}" class="btn btn-info btn-circle btn-sm">
                      <i class="fas fa-info-circle"></i>
                    </a>  
                </td>

                <!-- delete -->
                <td>

                  <a class="btn btn-danger btn-circle btn-sm" href="{% url 'inventory:delete_material' p.id %}" 
                      data-toggle="modal" data-target="#{{ p }}">
                    <i class="fas fa-trash"></i>
                  </a>
                  <div class="modal fade" id="{{ p }}" tabindex="-1" role="dialog" 
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel"> Are you sure to Delete {{ p }} </h5>
                          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <button class="btn btn-secondary" type="button" data-dismiss="modal"> Cancel </button>
                          <a class="btn btn-danger"  href="{% url 'inventory:delete_product' p.id %}"> Delete </a>
                        </div>
                      </div>
                    </div>
                  </div>

              </td>
              
						</tr>
						{% endfor %}
						</ul>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

        <!-- Add Customer -->  

        <div class="button-group" align="right">
              <a href="{% url 'inventory:add_product' %}" class="btn btn-primary" role="button">
              Add New Product </a>
        </div>

      </div>

<!-- /.container-fluid -->

</div>


{% endblock %}